* {
    margin: 0px;
    padding: 0px;
}

.scrollable-element {
    scrollbar-color: red yellow;
  }

html {
    scroll-behavior: smooth;
  }

:root{
    --main-color: rgb(255, 17, 57);
} 

body { 
    background-image: url(./img/bg.jpg);
}

.btn{
    margin-top: 20px;
    padding: 2px 10px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover{
    color: rgb(255, 17, 57);
    background-color: transparent;
    border: 2px solid var(--main-color);
    transition: border 400ms ease, color 400ms ease;
}

.headline{
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 2.5rem;
    margin-top: 80px;
    padding: 80px 20px 20px 20px;
}

.headline span{
    color: var(--main-color);
}

.line{
    height: 2px;
    border-width: 0;
    color:gray;
    background-color:gray
}

/* scrollbar styling  */
::-webkit-scrollbar {
    width: 17px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--main-color); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* nav Section  */

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    width: -webkit-fill-available;
}

.navbar.sticky{
    padding: 10px 80px;
    background-color: var(--main-color);
}

.navbar.sticky .left span{
    color: white;
}

.left {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.left span{
    color: var(--main-color);
}

.right {
    font-size: 1.2rem;
    display: flex;

}

.right li {
    list-style: none;
    padding: 0px 20px;
}

.right li a {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display: block;
}

.right li a:hover {
    color: var(--main-color);
    font-weight: bold;
    transition: 300ms ease-in-out;
}

.navbar.sticky .right li a:hover{
    transition: 300ms ease-in-out;
    color: white;
}

/* Home section styling  */

#home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.l-1{
    /* border: 2px solid red; */
    padding: 30px;
    color: white;
    width: 40%;
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif;
}

.l-1 span{
    color: var(--main-color);
}

.r-1{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 40%;
}

/* About Section styling */

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.about-main{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.about-main p{
    color: white;
}

.name{
    font-family: 'Poppins', sans-serif;
    padding: 50px;
}

.name span{
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: white;
    font-weight: lighter;
}

.name span a{
    color: var(--main-color);
}

#imgdw{
    max-width: 15px;
    padding-left: 5px;
}

/* Education section styling */

.edu-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 35px 10px 75px;
}

.edu-box{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border-left: 2px solid white;
    margin: 20px;
    min-width: 25%;
    margin: 25px;
    margin-bottom: 40px;
    color: white;
    padding: 0px 0px 30px 35px
}

.edu-box span{
    background-color: gray;
    border-radius: 20px;
    padding: 2px 10px;
}

.edu-box h2{
    font-style: italic;
}

.imgbox{
    position: unset;
    background-color: var(--main-color);
    margin-left: -62px;
    margin-top: -15px;
    border-radius: 10rem;
    display: inline-block;
}
.imgbox img{
    max-width: 30px;
    padding: 12px 12px 5px 12px;
}

/* Skills Section styling */

.skills{
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin: 50px;
    justify-content: center;

}

.txt{
    /* border: 2px solid red; */
    width: 40%;
    padding: 30px;
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
}

.data{
    /* border: 2px solid red; */
    width: 40%;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.bars{
    margin-bottom: 30px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.ln{
    height: 4px;
    width: 100%;
    color:gray;
    background:lightgray;
    position: relative;
}

.ln::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background: var(--main-color);
}

.html::before{
    width: 90%;
}
.css::before{
    width: 80%;
}
.javascript::before{
    width: 70%;
}
.c::before{
    width: 65%;
}
.java::before{
    width: 65%;
}

/* Contact section styling  */

.contact{
    display: flex;
    justify-content: center;
    margin: 50px 80px 100px 80px;
}

.contact-left{
    background-image: url(./img/bgcm.jpg);
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    color: black;
    padding: 20px;
    width: 30%;
}

.contact-left h3{
    margin-left: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

.contact-left img{
    width: 20px;
    height: 20px;
    padding: 6px;
    border-radius: 20px;
    margin: 5px;
}

.detail{
    margin: 20px;
    padding: 80px 20px 40px;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.detail-in img{
    background-color: var(--main-color);
    position: inherit;
    margin-left: -40px;
    margin-top: -4px;
}

.detail-in div{
    display: inline-flex;
    margin: 20px;
}

.contact-right{
    background-image: url(./img/bgcc.jpg);
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
    color: white;
    padding: 20px;
    width: 30%;
}

.contact-right h3{
    margin-left: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

.btn img{
    width: 20px;
}

#form{
    padding: 15px;
}

.input-container{
    margin: 10px 20px 10px 0px;
}

::placeholder{
    color: white;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.input{
    width: 100%;
    outline: none;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 25px;
}

textarea.input{
    padding: 10px;
    min-height: 150px;
    resize: none;
    overflow-y: auto;
}



/* Footer section  */

.media{
    display: flex;
    justify-content: center;
    margin: 100px 0px 20px 0px;
}

.media a img{
    display: flex;
    flex-direction: column;
    width: 30px;
    padding: 20px;
}

.footer p{
    color: white;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}

.footer p span{
    color: var(--main-color);
}

.menu{
    display: flex;
    justify-content: center;
    margin: 15px;
    padding-bottom: 20px;
    list-style: none;
}

.menu li a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    padding: 0px 30px;
    text-decoration: none;
    display: block;
    border-right: 1px solid white;
}
#con{
    border: none;
}
.menu li a:hover {
    color: rgb(255, 17, 57);
    transition: 500ms ease-in-out;
}

.foot{
    background-image: url(./img/bgcm.jpg);
    background-size: cover;
    color: black;
    font-size: 1.1rem;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.foot p{
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
}

.dropdown-content{
    display: none;
}

/* responsive media query start */

@media (max-width: 800px){
    .navbar {
        position: fixed;
        display: flex;
        align-items: center;
        padding: 10px 80px;
        width: 100%;
    }

    .navbar {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 80px;
        width: -webkit-fill-available;
    }
    
    .navbar.sticky{
        padding: 10px 80px;
        background-color: var(--main-color);
    }
    
    .navbar.sticky .left span{
        color: white;
    }
    
    .left {
        color: white;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
    }
    
    .left span{
        color: var(--main-color);
    }

    .right li{
        display: none;
    }

    .dropdown{
        display: none;
    }

    .container {
        display: inline-block;
        cursor: pointer;
      }
      
      .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
        transition: 0.4s;
      }

      .dropbtn {
        background-color: transparent;
        color: white;
        padding: 5px 15px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color: transparent;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        font-family: 'Poppins', sans-serif;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown a:hover {
        background-color: var(--main-color);
        color: white;
    }
      
    .show {
        display: block;
    }

    .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 80px 100px 80px;
    }

    .contact-left{
        /* border: 2px solid red; */
        background-image: url(./img/bgcm.jpg);
        background-size: cover;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .detail{
        display: flex;
        justify-content: center;
    }

    .detail-in{
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .detail-in p{
        align-self: baseline;
    }

    .contact-right{
        width: 100%;
        /* border: 2px solid red; */
        border-radius: 0px 0px 20px 20px;
    }

    .menu{
        flex-wrap: wrap;
    }

    .menu li a{
        border: none;
    }

}

@media (max-width: 450px){
    .l-1{
        text-align: center;
        width: 100%;
    }

    .r-1{
        width: 100%;
    }

    .edu-container{
        margin: 10px;
        padding: 10px;

    }

    .txt{
        width: 100%;
        padding: 0px;
    }

    .data{
        width: 60%;
    }
}